# Binaries
bin/
hexcli
main
test-app/hexcli
test-app/main

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Env
.env
.env.local
.env.production
.env.development

# Coverage
coverage.out
coverage.html
